<% include partials/header %>


<center><h1><%= veh.vehicle_id%></h1></center>

<div class="thumbnail">
        <center><p class="caption">Vehicle ID: <%= veh.vehicle_no %></p>
        <p class="caption">Vehicle Code: <%= veh.v_code %></p>
        <p class="caption">About: <%= veh.about %></p>
        <p class="caption">Fuel: <%= veh.fuel %></p>
        <p class="caption">Last Serviced: <%= veh.lastservice %></p></center>
</div>
<% if (veh.v_code=='bus') { %>
<a class="btn btn-primary" href="/buses/<%= veh.vehicle_id %>/new">Add routes to this bus</a>
<% } %>
<% include partials/footer %>